.form {
  box-sizing: border-box;
  max-width: 385px;
}

.form__fieldset {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  max-width: 385px;
  max-height: 60px;
  border-radius: 4px;
  padding: 19px 20px;
  border: 1px solid #838383;
  margin-bottom: 32px;
}

.form__button {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  padding: 20px 32px;
  color: #ffffff;
  border: 0;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
}

.form__button:hover {
  opacity: 0.7;
  transition: ease;
}

.form__checkbox {
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0;
}
