.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #c1c1c1;
  transition: ease-in-out 1s;
}
